@import 'config';

/* ----- Navbar code styles --------------------------------------------------------------------------------------------------------------------------------*/

nav {
    padding: 3rem 3rem 2rem 3rem;
    height: 20%;
    &.navbar-dark {
        background: $secondary-color;
        padding: 2rem 5rem;
        .nav-icons {
            padding: 0;
        }
    }
    .logo {
        h3 {
            font-size: 1.3rem;
            font-family: lato-bold;
            color: $third-color;
        }
    }
    .nav-links {
        padding: 0.8rem 2rem;
        // background-color: $primary-color;
        border-radius: 5rem;
        ul {
            li {
                list-style: none;
                padding: 0 0.5rem;
                a {
                    text-transform: capitalize;
                }
            }
        }
    }
    .nav-icons {
        padding: 1rem 3rem 0.5rem 2rem;
    }
}


/* ----- main body code styles --------------------------------------------------------------------------------------------------------------------------------*/

main {
    &#home {
        header {
            height: 600px;
            background: $secondary-color;
            .hdr-wrapper {
                height: 80%;
                position: relative;
                .hdr-msg {
                    padding: 8rem 0 2rem 3rem;
                    width: 50%;
                    height: inherit;
                    h3 {
                        font-family: lato-bold;
                        font-size: 3rem;
                    }
                    a {
                        position: relative;
                        top: 1rem;
                    }
                    hr {
                        position: absolute;
                        left: 4rem;
                        bottom: 4.5rem;
                        border: 1px solid $primary-color;
                        width: 200px;
                    }
                    .social-icons-container {
                        padding: 2rem 0;
                        position: absolute;
                        left: 3rem;
                        bottom: 1rem;
                        a {
                            margin: 0 0.5rem;
                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .hdr-img {
                    width: 600px;
                    height: 500px;
                    position: absolute;
                    right: 3rem;
                    bottom: -5rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .main-content {
            section {
                &.sec-1 {
                    padding: 5rem 3rem 1rem 5rem;
                    width: 50%;
                    h3 {
                        color: #000;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                &.sec-2 {
                    padding: 1rem 5rem 2rem 5rem;
                    a {
                        margin: 1rem 0;
                        i {
                            color: #000;
                            font-size: 4rem;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
                &.sec-3 {
                    padding: 3rem 5rem 5rem 5rem;
                    .card {
                        background: #e7e7e7;
                        border-radius: 1rem;
                        margin: 0 1rem;
                        height: 320px;
                        &:hover {
                            .card-img {
                                i {
                                    color: $primary-color;
                                }
                            }
                            .card-txt {
                                background: $primary-color;
                            }
                        }
                        .card-img {
                            height: 60%;
                            i {
                                font-size: 9rem;
                                color: #000;
                                position: relative;
                                top: 2rem;
                                left: 6rem;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-top-left-radius: 1rem;
                                border-top-right-radius: 1rem;
                            }
                        }
                        .card-txt {
                            height: 40%;
                            padding: 0.5rem 0.5rem 1rem 0.5rem;
                            background: $secondary-color;
                            border-bottom-left-radius: 1rem;
                            border-bottom-right-radius: 1rem;
                            position: relative;
                            .txt-hdr {
                                height: 30%;
                                h3 {
                                    color: #fff;
                                    font-size: 1.2rem;
                                    margin: 0.3rem 0;
                                }
                                p {
                                    // text-overflow: ellipsis;
                                    color: #fff;
                                    font-weight: 600;
                                    span {
                                        font-style: italic;
                                        margin: 0 0.2rem;
                                        font-weight: lighter;
                                        color: #acaaaa;
                                    }
                                }
                            }
                        }
                    }
                }
                &.sec-4 {
                    padding: 5rem 3rem;
                    background: $secondary-color;
                    .sec-txt {
                        padding: 3rem 0;
                        h3 {
                            font-size: 3rem;
                            text-transform: uppercase;
                            font-family: lato-bold;
                        }
                        p {
                            margin: 0.5rem 0;
                            width: 40%;
                            font-size: 1.2rem;
                        }
                        a.explore-btn {
                            position: relative;
                            top: 2rem;
                        }
                    }
                }
            }
        }
    }
    &#account {
        header {
            padding: 5rem 5rem 3rem 5rem;
            a {
                i {
                    font-size: 2rem;
                    color: #000;
                    font-weight: 600;
                }
            }
        }
        .form-container {
            padding: 2rem 5rem 5rem 8rem;
            #form {
                background: $primary-color;
                width: 60%;
                border-radius: 1rem;
                .form-btns-container {
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                    background: $secondary-color;
                    // border-bottom: 2px solid $secondary-color;
                    a {
                        width: 100%;
                        padding: 1.5rem 0;
                        height: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 600;
                        cursor: pointer;
                        &.active {
                            background: $primary-color;
                        }
                        &:nth-child(1) {
                            border-top-left-radius: 1rem;
                        }
                        &:nth-child(2) {
                            border-top-right-radius: 1rem;
                        }
                    }
                }
                .forms-wrapper {
                    position: relative;
                    form {
                        padding: 2rem 3rem;
                        display: none;
                        &.show {
                            display: block;
                        }
                        h4 {
                            font-size: 1.5rem;
                            text-transform: capitalize;
                        }
                        .input {
                            width: 100%;
                            padding: 1rem;
                            position: relative;
                            &:hover {
                                i {
                                    &.lni-eye {
                                        visibility: visible;
                                        transform: translate3d(0, 0, 0);
                                    }
                                }
                            }
                            label {
                                font-size: 1.2rem;
                            }
                            i {
                                position: absolute;
                                top: 3.5rem;
                                left: 1.6rem;
                                font-size: 1.2rem;
                                font-weight: 600;
                                color: $primary-color;
                                &.lni-eye {
                                    left: auto;
                                    cursor: pointer;
                                    right: 3rem;
                                    visibility: hidden;
                                    transform: translate3d(100%, 0, 0);
                                }
                            }
                            input {
                                border: none;
                                outline: none;
                                padding: 0.5rem 1rem 0.5rem 2.2rem;
                                color: #000;
                                width: 100%;
                                margin: 0.5rem 0;
                                border-radius: 0.5rem;
                            }
                        }
                        button {
                            background: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

footer {
    .footer-contacts-container {
        padding: 3rem 2rem 1rem 2rem;
        h3 {
            text-align: center;
            color: #000;
            font-size: 2rem;
            font-family: lato-bold;
            text-transform: uppercase;
        }
        .di-flx {
            justify-content: center;
            padding: 2rem 0;
            span {
                padding: 1rem;
                margin: 0 2rem;
                display: flex;
                i {
                    margin: 0 0.3rem;
                    color: $primary-color;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                p {
                    color: #000;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .footer-copyright-container {
        padding: 3rem 2rem;
        p {
            text-align: center;
            color: #000;
            font-size: 1.2rem;
            font-weight: 600;
            span {
                &.year {
                    color: #000;
                }
                &.nova {
                    color: #000;
                    font-weight: 600;
                    font-size: 1.1rem;
                    a {
                        color: $primary-color;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}